{% extends "layout.html" %}

{% block content %}
<div class="content-section col-xs-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 container-fluid padding">
            <form action="" method="POST" novalidate>
                {{ form.hidden_tag()}}
                <fieldset class="form.group">
                    <legend class="border-bottom mb-4">Irgentein Begrüßungssatz</legend>
                        <div class="form-group">
                            {{ form.firstname.label(class="form-control-label") }}<br>
                             {% if form.firstname.errors %}
                                {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.firstname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                            {{ form.firstname(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    <div class="form-group">
                            {{ form.lastname.label(class="form-control-label") }}<br>
                             {% if form.lastname.errors %}
                                {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.firstname.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                            {{ form.lastname(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>

                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}<br>
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <small class="text-muted">
                  Doch ans Passwort erinnert? <a class="ml-2" href="{{ url_for('login') }}">Login</a>
                </small>
            </form>
            <div class="border-top pt-3">
        <small class="text-muted">
            Noch keinen Account? <a class="ml-2" href="{{ url_for('register') }}">Registrieren</a>
        </small>
    </div>
        </div>
{% endblock content %}