<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Markus Hirzberger, David Lercher">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Die Siedler - {{title}}</title>
    {% else %}
    <title>Die Siedler</title>
    {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}" >

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" >
</head>
<body>


    <header>
        <!-- Navigator -->
        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{url_for('index')}}"><img src="/static/img/logo.png" width="200px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navResp">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navResp">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('add_request')}}">Suche Hilfe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('add_offer')}}">Möchte helfen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mein Lager</a>
                        </li>
                    </ul>
                </div>
                <a href="{{url_for('login')}}" target="_top"><button type="button" class="btn btn-primary btn-lg" id="login">Anmelden</button></a>
            </div>
        </nav>
    </header>
{% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}

                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} padding">
                        <h3>{{ message }}</h3>
                    </div>
                {% endfor %}

            {% endif %}
        {% endwith %}

    <main>
        {% block content %}


        <!--slider-->





        <!-- Two Column Section -->
        <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-md-6">
                    <h2>Vorteile</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                        diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
                        takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                    <br>
                    <a href="{{ url_for('register') }}" class="btn btn-primary">Registrieren</a>
                </div>
                <div class="col-md-6">
                    <img src="../static/pics/background1.png" class="img-fluid" width="200px" style="display:block;margin:auto;">
                </div>
            </div>
        </div>
        <hr class="my-4">

        <!-- Meet the Team -->
        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="col-12">
                    <h1 class="display-4">Meet the team</h1>
                </div>
                <hr>
            </div>
        </div>

        <!-- Cards -->
        <div class="container-fluid padding">
            <div class="row padding">
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="../static/pics/team1.png">
                        <div class="card-body">
                            <h4 class="card-title">Markus Hirzberger</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            </p>
                            <a href="#" class="btn btn-outline-secondary">Mehr erfahren</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="../static/pics/team1.png">
                        <div class="card-body">
                            <h4 class="card-title">Markus Hirzberger</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            </p>
                            <a href="#" class="btn btn-outline-secondary">Mehr erfahren</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="../static/pics/team1.png">
                        <div class="card-body">
                            <h4 class="card-title">Markus Hirzberger</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            </p>
                            <a href="#" class="btn btn-outline-secondary">Mehr erfahren</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="../static/pics/team1.png">
                        <div class="card-body">
                            <h4 class="card-title">Markus Hirzberger</h4>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                            </p>
                            <a href="#" class="btn btn-outline-secondary">Mehr erfahren</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4">
        </div>
        <!-- Two Column Section -->

        <!-- Connect -->
        <div class="container-fluid padding">
            <div class="row text-center padding">
                <div class="col-12">
                    <h2>Connect</h2>
                </div>
                <div class="col-12 social padding">
                    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://google.com" target="_blank"><i class="fab fa-google-plus-g"></i></a>
                    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <hr class="my-4">
        </div>
        {% endblock content %}
    </main>
    <!-- Footer -->
    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col-md-4">
                    <hr class="light">
                    <img src="/static/img/logo.png" width="200px">
                    <hr class="light">
                    <p>0000/0000000</p>
                    <p>die.siedler@email.com</p>
                </div>
                <div class="col-md-4">
                    <hr class="light">
                    <a class="btn-secondary" href="#"><h5>Impressum</h5></a>
                    <a class="btn-secondary" href="#"><h5>AGB</h5></a>
                    <a class="btn-secondary" href="{{url_for('about')}}"><h5>Über uns</h5></a>
                    <hr class="light">
                </div>
                <div class="col-md-4">
                    <p style="font-size: 120%;"></p>
                </div>
                <div class="col-12">
                    <hr class="light">
                    <h5>&copy; Siedler.at</h5>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>