{% extends "layout.html" %}

{% block content %}
        <div class="content-section col-xs-12 col-sm-12 col-md-9 col-lg-6 col-xl-4 container-fluid padding">
            <form action="" method="POST" novalidate>
                <fieldset class="form.group">
                    <legend class="border-bottom mb-4">Irgentein Begrüßungssatz</legend>
                    <div class="form-group">
                            <div class="invalid-feedback">
                            </div>
                    </div>
                     <div class="form-group">
                            <div class="invalid-feedback">
                    </div>
                     <div class="form-group">
                            <div class="invalid-feedback">
                    </div>
                     <div class="form-group">
                            <div class="invalid-feedback">
                    </div>
                </fieldset>
                <div class="form-group">
                </div>
            </form>
            <div class="border-top pt-3">
        <small class="text-muted">
            Bereits einen Account? <a class="ml-2" href="{{ url_for('login') }}">Login</a>
        </small>
    </div>
        </div>

{% endblock content %}